.section-title {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;

    &--blue {
        color: $mainBlue;
    }

    &--less-margin {
        margin-top: 0;
        margin-bottom: .3em;
    }

    @mixin atMedium {
        font-size: 3.75rem;
    }

    strong {
        font-weight: 500;
    }

    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6rem;

        @mixin atMedium {
            position: relative;
            top: 8px;
            display: inline-block;
            margin-right: .5rem;
            margin-bottom: 0;
        }
    }
}